---
layout: default
date: 2016-11-20
update: 2017-01-02
---

<h1>Hi! I'm Fri, a product designer.</h1>
<p>I design stuffs to be <strong>useful</strong> for people like you, me, and everyone else by using <em>common sense</em> and <em>user centric approach</em>.</p>
<p><!--I write articles on user experience, design, and startups that you can check on below.-->I also <a href="/divelogs" title="See my dive logs">dive</a>, cycle, and hike for fun!</p>

<h2>Logs</h2>
<ul>
  {% for post in site.categories.blog %}
    {% if post.url %}
	<li>
	     <a href="{{ post.url }}">{{ post.title }}</a>—<time>{{ post.date | date: "%b %-d, %Y" }}</time>
	</li>
    {% endif %}
  {% endfor %}
</ul>
