<footer class="footer">
	<div class="footer-inner">
		<p><strong>Fri is a UX and Visual Designer</strong> who resides in <a href="https://www.google.co.id/maps/place/Special+Capital+Region+of+Jakarta/@-6.2297281,106.6894305,11z/data=!3m1!4b1!4m5!3m4!1s0x2e69f3e945e34b9d:0x100c5e82dd4b820!8m2!3d-6.1744651!4d106.822745?hl=en">Jakarta</a>.<br/>He <a href="/about#timeline">worked for</a> startups, NGOs, and the Government.</p>

		<div class="contacts">
			<a href="mailto:fri@frirasyidi.com">Email</a>
			<a href="https://twitter.com/frirasyidi">Twitter</a>
			<a href="http://www.dribble.com/frirasyidi/">Dribbble</a>
			<a href="http://id.linkedin.com/in/frirasyidi/">Linkedin</a>
		</div>

		<small>
			<p>This&nbsp;site&nbsp;is&nbsp;hand&nbsp;made by&nbsp;<a href="/">myself</a>.<br/>
				Page's{% if page.date %}&nbsp;date&nbsp;of&nbsp;creation:&nbsp;<time>{{ page.date | date: "%F"}}</time>{% if page.update %}, {% endif %}{% endif %}{% if page.update %}last&nbsp;update:&nbsp;<time>{{ page.update| date: "%F"}}</time>{% endif %}.</p>
		</small>
	</div>
</footer>
