<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="Author" content="Fri Rasyidi">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Work+Sans:400,700" rel="stylesheet">

</head>
