/*---------------------------------------
Variables
---------------------------------------*/

$content-width: 700px;
$background: #f2f2f2;

$font-style: 'f', sans-serif;
$heading-font: 'Work Sans', sans-serif;
$code-font: 'Inconsolata', monospace;
$font-color: #2E2F30;
$heading-font-color: $font-color;
$font-size: 2.0em;
$line-height: 1.4;

$link-color: #08c;
$link-visited-color: #2e3191;
$link-hover-color: #2e3191;

/*---------------------------------------
Normalize
---------------------------------------*/

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: $font-color;
	font-family: $font-style;
	font-size: 62.5%; /* rem size to 10px */
	line-height: $line-height;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-size: $font-size;
	background-color: $background;
}

/*---------------------------------------
Typeface
---------------------------------------*/

@font-face {
  font-family: 'f';
  font-style: normal;
  font-weight: 400;
  src: local('f'), local('f-normal'), url(/assets/fonts/f-normal.woff) format('woff');
}

@font-face {
  font-family: 'f';
  font-style: italic;
  font-weight: 400;
  src: local('f'), local('f-normalItalic'), url(/assets/fonts/f-normalItalic.woff) format('woff');
}

@font-face {
  font-family: 'f';
  font-style: normal;
  font-weight: 600;
  src: local('f'), local('f-bold'), url(/assets/fonts/f-bold.woff) format('woff');
}
