/*---------------------------------------
Global
---------------------------------------*/
html {
	margin: 0;
	padding: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 62.5%;
	line-height: $line-height;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-size: $font-size;
	max-width: 100%;
}

/*---------------------------------------
Footer
---------------------------------------*/

footer {
	text-align: center;
	padding: 40px;
	font-size: .8em;
	border-top: .5pt solid #dcddde;
	margin: 6em 0 0;
	width: 100%;
	.contacts {
		margin-bottom: 4em;

		a {
		padding: 10px;
		}
	}
}

/*---------------------------------------
Header
---------------------------------------*/

header {
	max-width: 800px;
	display: block;
	margin: 1em auto;
	border-bottom: .5pt solid #dcddde;
	.logo {
		display: inline-block;
		margin: 0 auto 5px;
		padding: 10px;
		font: $heading-font;
		font-size: 1em;
		a {
			text-decoration: none;
			color: $font-color;
		}
	}
	nav {
		display: inline-block;
		float: right;
		margin: 0 auto;
		font-size: .8em;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				margin: 0;
				a,
				a:visited {
					color: $font-color;
					text-decoration: none;
					display: block;
					padding: 15px;
					&:hover {
						text-decoration: underline;
						color: $link-color;
					}
				}
			}
		}
	}
}

/*---------------------------------------
Main
---------------------------------------*/

main {
	padding: 0 30px;
	max-width: $content-width;
	margin: 0 auto;
}

main header {
	margin-bottom: 2em;
	border-bottom: none;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Specialy Behaved Objects */

.hideOnWeb {
	display: none;
}

/*---------------------------------------
Making this Responsive
---------------------------------------*/

@media screen and (max-width: 680px) {
	.hideOnWeb {
		display: inline-block;
	}

	header {
		width: 100%;
  	.logo {
			display: block;
			width: 100%;
    	text-align: center;
			margin: 0;
  	}
		nav {
			display: block;
			width: 100%;
			float: none;
			text-align: center;
			ul {
				display: inline-block;
				margin: auto;
			}
		}
	}
}

@media screen and (max-width: 390px) {
	.hideOnWeb {
		display: none;
	}
}
