/*---------------------------------------
Headings
---------------------------------------*/

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	margin: 1.4em 0 .7em;
	line-height: 1;
	a,
	a:visited {
		text-decoration: none;
		color: $font-color;
	}
	a:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

/*---------------------------------------
Block Body Texts
---------------------------------------*/

p,
blockquote,
pre {
	margin: 0 0 1em;
}

h1 + p {
	font-size: 1.2em;
	margin: 0 0 2em;
}

pre {
  padding: 10pt;
  background-color: #ddd;
  border-radius: 8pt;
  font-family: $code-font;
}

/*---------------------------------------
Lists
---------------------------------------*/

ul,
ol,
li
dl,
dt,
dd {
	line-height: 1.4;
	margin: 1em 0;
}

/*---------------------------------------
Text level markups
---------------------------------------*/

code,
kbd,
samp,
var {
  font-family: $code-font;
}

/*---------------------------------------
Links
---------------------------------------*/

a {
	color: $link-color;
	text-decoration: underline;
	&:visited {
		color: $link-visited-color;
	}
	&:hover {
	color: $link-hover-color;
	}
}

/*---------------------------------------
Forms
---------------------------------------*/

label,
input,
textarea,
button {
  font-size: 1em;
  margin: 0;
  line-height: 1em;
}

label {
	font-weight: 600;

}
