@use "config" as *;

footer {
  margin: 2rem auto 0 $content-margin-left;
  padding: 3rem 0;
  max-width: $content-max-width;
  border-top: 2px solid $color-decorative;
  display: flex;
  gap: 2rem;

  & nav {
    padding-bottom: 1rem;
  }

  & p,
  nav * {
    font-size: 0.9rem;
  }

  & h5 {
    font-size: 1rem;
    margin-top: 0;

    & a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        background-color: $color-highlight;
      }
    }
  }

  .site-description {
    min-width: 15ch;
  }
}

@include respond-to(tablet) {
  footer {
    margin: 2rem auto 0 $content-margin-left-tablet;
  }
}

@include respond-to(mobile) {
  footer {
    display: block;
    margin: 4rem 0 0;
  }

  .site-description * {
    margin: 0;
  }

  .nav-credits {
    & nav {
      margin: 1rem 0;
      padding: 0;
    }

    & p {
      margin: 1rem 0 2rem;
    }
  }
}
