---
layout: base
---

<div class="home">
  {{ content }}

  <h2 class="post-list-heading">My writings</h2>
  {% assign date_format = "%Y&nbsp;%b&nbsp;%-d" %}
  <table>
    {% for post in site.categories.blog %}
    <tr>
      <td>{{ post.date | date: date_format }}</td>
      <td>
        <a href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a
        ><br />
        <small>{{ post.subtitle | escape }}</small>
      </td>
    </tr>
    {% endfor %}
  </table>

  <h2 class="post-list-heading">Books I recommend</h2>
  <table>
    {% for post in site.categories.books %}
    <tr>
      <td>
        <img
          src="{{ post.cover }}"
          alt="{{ post.title }}"
          style="width: 240px; height: auto"
        />
      </td>
      <td>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}<br />
        </a>
        <em>by {{ post.authors | escape }}</em>
        <p>{{ post.excerpt }}</p>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
