---
layout: default
---

{% if page.categories contains "writings" %}
  <a href="/writings" style="white-space: nowrap"
  >← Back to <img
      src="/assets/icons/writings.svg"
      alt=""
      class="icon"
      style="margin-right: 2pt"
    />Writings</a>
{% elsif page.categories contains "reading-takeaways" %}
  <a href="/reading-takeaways" style="white-space: nowrap"
  >← Back to <img
      src="/assets/icons/reading-takeaways.svg"
      alt=""
      class="icon"
      style="margin-right: 2pt"
    />Reading Takeaways</a>
{% endif %}

<h1 style="margin-bottom: 0;">{{ page.title }}</h1>
<p style="font-size: large; font-style: oblique;">{{ page.description }}</p>
<p class="meta">{{ page.date | date: "%b %-d, %Y" }}</p>

<div style="margin-top: 4em;">
  {{ content }}
</div>