body, div, font, form, p, td {
  font-size: 13pt; font-family: "Times New Roman"; }

pre, code, samp, kbd, tt, textarea, input, listing, plaintext, xmp {
  font-size: 12pt; font-family: Courier; } 

tt {
  font-family: "Courier New"; }

small {
  font-family: "Book Antiqua";
  line-height: 110%;  
  font-size: 90%; }

big { font-size: 108% }

select {
  font-size: 12pt;
  font-family: Arial; }

h1 { font-size: 160%; text-align: center; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 105%; }
h6 { font-size: 100%; }

p {
  text-indent:1em; margin-top:0.2em; margin-bottom:0.2em; }

p {
  text-align: left !important; }

kbd {
  font-weight: bold}

samp {
  background: #eee none;
  color: #000; }

address {
  color: #000; background: #eef none;
  border: solid #000 1px; 
  font-style: normal;
  font-size: 11pt;
  font-family: Verdana; }

body { color: #000; background: #fff none; }

h1, h2, h3, h4, h5, h6 {
  color : #000; background : #ffc none;
  font-family : Verdana, Arial, Helvetica, sans-serif;
  page-break-after : avoid; }

caption {
  font-weight: bold;
  color : #000; background : #ffc none; }

hr {
  color : #9c9; height : 0.2em }

blockquote, blockquote div, blockquote font, blockquote form,
 blockquote p, blockquote td {
  font-family: "Century Schoolbook";
  font-size: 12pt; }

blockquote {
  padding-left: 0.3em;
  border-left: solid #B8860B 2px; }

a:link {
  color : #009; background : transparent none; }
a:visited {
  color : #609; background : transparent none; }
a:hover {
  color : #933; background : #eee none; }
a:active {
  color : #f00; background : transparent none; }

sub, sup {
  font-size: 9pt;
  font-family: Verdana; }

em {
  background : #ffffee none; }

strong {
  background : #ffffe0 none; }

cite {
  font-family: Verdana;
  font-size: 11pt;
  font-style: italic; }

q {
  font-family: Verdana;
  font-size: 11pt;
  font-style: italic; }

var {
  font-family: Arial;
  font-size: 11pt;
  font-style: italic; }

ins {
  text-decoration: none;
  background: #e0ffe0 none; }

del {
  background: #ffe0e0 none; }

dfn, dt {
  font-weight: bold;
  color : #066; background:transparent none; }

dt {
  margin-top: 0.4em; }
dd {
  margin-bottom: 0.4em; }

form {
  background : #cee none;
  color : #000;
  padding : 3px;
  border : solid #060 1px;
  margin-bottom: 0; }

input, textarea, select {
  color : #000; background : #dff none; } 

ul, ol {
  margin-left : 2em;
  margin-top: 0.15em; }

li {
  margin-left : 0;
  margin-bottom: 0.3em }

a img { border-width:1px !important; }

:link, :visited, :active, :hover { text-decoration: underline !important; }
 
  